/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100vh;
}
.container{
	border:1px solid white;
	background-color:white;
	margin:20px;
	padding:20px;
	box-shadow:0px 12px 40px rgba(0.1,0.1,0.1,0.1);
	border-radius:5px;
	display:inline-block;
}
img{
	margin-top:10px;
	margin-left:40px;
	
}
h1{
	text-align:center;
	margin-bottom:5px;
}
#para{
	text-align:center;
	margin-bottom:10px;
	
}
#btn{
	text-align:center;
	margin-left:150px;
	background-color:hotpink;
	padding:5px;
	border-radius:5px;
	font-weight:bold;
	color:white;
}

